html
  head
    title Runogeneraattorin tuotoksia
    link(rel="stylesheet" href="./assets/normalize.css")
    link(rel="stylesheet" href="./assets/skeleton.css")
    link(href='.assets/favicon.ico', rel='icon')
    link(rel="stylesheet" href="./assets/main.css")


  body
    nav.menu
      .container
        .row
          .six.columns
            h2 Luontoruno
          .six.columns
            a(href="/" class="pull-right") Tee oma metsärunosi

    .gallery
      each val, index in images
        .img-grid
          img(src=val.url)
          -var d = imagemeta[index].date
          //- p #{imagemeta[index].date}
          p= moment(d).format('DD.MM.YYYY')

    nav.pagination
      .container
        .row
          if pre_page || next_page
            .pager.center
              if pre_page
                a(href="?page=" + pre_page).prev
                  |  Edellinen
              span Sivu: #{page}
              if next_page
                a(href="?page=" + next_page).next
                  | Seuraava

            - var m = 1
              while m < total_pages
                button.btn-pagination
                  if(m == page)
                    a(href="?page=" + m++)
                      b #{m-1}
                  else
                    a(href="?page=" + m)= m++



